body {
  font-family: 'playfair display', arial, tahoma, sans-serif;
  text-align: center;
}

.main-title {
  align-items: baseline;
  background: url(/images/banner.jpg) center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  min-height: 465px;
  width: 100%;
}

.main-title h1 {
  color: #ece2e2;
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
  text-shadow: 15px 10px 15px #1b1e21;
}

.page-container {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  text-align: center;
}

.item {
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 200px;
}

.item h3 {
  color: #736454;
  font-size: 20px;
}

div p {
  color: #736454;
  font-size: 20px;
  margin: 20px;
}

img {
  height: 250px;
  width: 250px;
}

label {
  font-weight: 700;
}

.chat,
#send-message-btn {
  margin-top: 20px;
}

.chat-title {
  color: #32b27a;
}

#btn-chat {
  display: block;
  margin: 0 auto 10px;
}

.navbar-custom {
  background: #928888;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
  padding: 5px;
}

.display-cached-time {
  color: white;
  font-size: 15px;
  margin-left: 10px;
  padding: 5px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  background: #b9836d;
}

.title {
  color: #736454;
  font-size: 42px;
  line-height: 42px;
  margin: 15px;
  text-align: center;
}

.secondary-heading p {
  font-size: 42px;
}

.span-col-f {
  color: #616161;
}

.span-col-s {
  color: #C62828;
}

.shop-form {
  background: #d6d4d4;
  box-shadow: 5px 10px #888888;
  margin: 20px;
  padding: 15px;
  width: 600px;
}

.bcf,
.bcs {
  background: #ecdfcb;
  box-shadow: 5px 10px #888888;
  margin: 5px;
  padding: 15px;
}

.field-validation-error {
  color: red;
}
