body {
  font-family: 'playfair display', arial, tahoma, sans-serif;
  text-align: center;
}

.register {
  color: #6d7dd6;
  font-weight: 400;
  margin: 5px;
}

.main-title {
  align-items: baseline;
  background: url(/images/banner.jpg) center/cover;
  color: white;
  display: flex;
  flex-flow: column;
  min-height: 465px;
  place-content: flex-end;
  width: 100%;
}

.main-title h1 {
  color: #ece2e2;
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
  text-shadow: 15px 10px 15px #1b1e21;
}

.item {
  color: white;
  display: flex;
  flex-flow: column;
  place-content: space-between;
  width: 200px;
}

.item h3 {
  color: #b56e6e;
  font-size: 25px;
}

div p {
  color: #736454;
  font-size: 20px;
  margin: 20px;
}

img {
  height: 250px;
  width: 250px;
}

label {
  font-weight: 700;
}

.second-title {
  color: #1ed184;
  padding: 20px;
  text-align: center;
}

.validation-summary-errors,
.field-validation-error,
.span-col-s {
  color: #C62828;
}

.navbar-custom {
  background: #928888;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
  padding: 5px;
}

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
  background-color: #b9836d;
}

.page-container {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  place-content: space-around;
  text-align: center;
}

.details {
  font-size: 20px;
  font-weight: 400;
}

.title {
  color: #736454;
  font-size: 42px;
  line-height: 42px;
  margin: 15px;
  text-align: center;
}

.secondary-heading p {
  font-size: 42px;
}

.span-col-f {
  color: #616161;
}

.submit-form {
  background: #d6d4d4;
  box-shadow: 5px 10px #888;
  margin: 20px;
  padding: 15px;
  width: 600px;
}

.bcf,
.bcs {
  background: #ecdfcb;
  box-shadow: 5px 10px #888;
  margin: 5px;
  padding: 15px;
}

.display-label {
  color: #736454;
  display: inline-block;
  font-size: large;
  font-weight: 700;
  margin: 25px 1px 5px;
  width: 150px;
}

.display-field {
  color: #736454;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
}

.row {
  font-weight: 500;
  padding: 2px;
}

.img-frame {
  height: 150px;
  width: 150px;
}

.grid-header {
  background: #a59d9d;
  color: white;
  font-weight: 700;
  margin: 35px;
}

.row > div {
  padding-left: 25px;
}

form {
  margin: 10px;
  text-align: center;
}

.text-center {
  padding: 15px;
}
