@media only screen and (min-width: 575px) {
  .border-left-solid {
    border-left: solid 1px #e4e8eb;
  }

  .header {
    margin: 10px 0 15px;
  }

  .row, .header {
    border-radius: 15px;
  }

  .row {
    margin-bottom: 15px;
  }
}

body {
  background: url(../images/shirt-website-background.jpg)
}

.header {
  background-color: rgba(0, 76, 158, 1);
  color: white;
  margin: 0 -15px 0;
  padding: 10px 0;
}

.row {
  background: rgba(0, 76, 158, 0.88);
  color: white;
}

.row .btn {
  margin: 15px 0;
}

.row input, .row select {
  background: rgba(71, 160, 255, 1) !important;
  color: white !important;
}

a {
  color: white !important;
}

select::-ms-value {
  background: transparent !important;
  color: white !important;
}
