<!DOCTYPE html>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <title>@ViewBag.Title</title>
  <script src="~/scripts/vendor.min.js"></script>
  <script src="~/scripts/script.min.js"></script>
  <link href="~/css/vendor.min.css" rel="stylesheet">
  <link href="~/css/main.min.css" rel="stylesheet">
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
      <a class="navbar-brand" asp-controller="IceCream" asp-action="Index">
        <img src="~/images/brand.jpg" class="d-inline-block align-top" alt="">
        Ice Cream of Dreams
      </a>
      <div class="collapse navbar-collapse" id="nav-content">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" asp-controller="IceCream" asp-action="Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="IceCream" asp-action="Buy">Buy Ice Cream</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="main-title">
    <h1>The Best Ice Cream You Will Taste in Your Life</h1>
    <a asp-controller="IceCream" asp-action="Buy">Buy Ice Cream</a>
  </div>
  <div>
    @RenderBody()
  </div>
</body>
</html>
