.view-container {
  background-color: white;
  box-shadow: 0 0 20px #4f6cca;
  margin: 35px auto;
  max-width: 830px;
}

.main-title {
  align-items: baseline;
  background-image: url(/images/underwater-cover.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 495px;
  width: 100%;
}

.main-title h1 {
  color: #e3dfdf;
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
  text-shadow: 0 2px 5px #aba8a8;
}

.title {
  color: #0f188c;
  font-size: 40px;
  font-weight: 600;
  margin: 15px 50px 20px 1px;
  text-align: center;
  text-shadow: 2px 2px #8a8a8a;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-index-card {
  background-color: #f5f5f5;
  border-color: #90CAF9;
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 450px;
  margin: 10px 5px 5px 18px;
  padding: 15px;
  width: 365px;
}

.display-picture-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 2px 1px;
}

.photo-display-img {
  height: 230px;
  margin: 10px 5px 5px;
  width: 290px;
}

.display-label {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 25px 1px 2px;
  width: 150px;
}

.display-field {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 35px;
  width: 45px;
}

.navbar-custom {
  background-color: #0288D1;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
  padding: 5px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  background-color: #039BE5;
}

.field-validation-error {
  color: red;
}

.photo-index-card-details {
  background-color: #f5f5f5;
  border-color: #90CAF9;
  border-style: solid;
  border-width: 4px;
  height: 605px;
  margin: 50px auto auto;
  padding: 15px;
  width: 355px;
}
